<!-- Phần chân trang -->
<footer class="footer">
    <div class="grid wide">
        <div class="c-12 m-12 l-12">
            <div class="footer__container">
                <div class="footer-content">
                    <h3>Contact Us</h3>
                    <p>Email:duy_@student.agu.edu.vn</p>
                    <p>Phone:+0356997664</p>
                    <p>Address:Đại Học An Giang</p>
                </div>
                <div class="footer-content">
                    <h3> Quick Links </h3>
                    <ul class="list">
                        <li><a href="/">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h3> Follow Us </h3>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <p>&copy: 2024 Trang Tin Tức</p>
    </div>
</footer>